ACCOUNT_LOGIN=
ACCOUNT_PASSWORD=
NEXT_PUBLIC_TARGET_ACCOUNT_USER=

NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_CALLBACK_URL=
API_SECRET=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
