.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: rgba(255, 255, 255, 0.9);
  --spinner-animation-duration: 800ms;
  --spinner-opacity: 0.65;
  --radius-1: 3px;
}

.small :global(.rt-Spinner) {
  width: 14px;
  height: 14px;
}

.medium :global(.rt-Spinner) {
  width: 20px;
  height: 20px;
}

.large :global(.rt-Spinner) {
  width: 40px;
  height: 40px;
}
