.segmentedControlRoot {
  display: flex;
  background-color: rgba(7, 7, 7, 0.75);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  padding: 4px;
  gap: 4px;

  &.size-1 {
    height: 32px;
  }

  &.size-2 {
    height: 40px;
  }

  &.size-3 {
    height: 48px;
  }
}

.segmentedControlItem {
  all: unset;
  cursor: pointer;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(102, 102, 102, 0.75);
  border-radius: 6px;
  font-size: 14px;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: rgb(14, 14, 14);
  }

  &[data-state="on"] {
    background-color: rgba(30, 30, 30, 0.8);
    color: #fff;
  }
}
